[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "glsl-mode"]
	path = glsl-mode
	url = git@github.com:jimhourihan/glsl-mode.git
[submodule "popup-el"]
	path = popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "popwin-el"]
	path = popwin-el
	url = https://github.com/m2ym/popwin-el
[submodule "js2-mode"]
	path = js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "win-switch"]
	path = win-switch
	url = git@github.com:genovese/win-switch.git
[submodule "exec-path-from-shell"]
	path = exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
