[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "glsl-mode"]
	path = glsl-mode
	url = git@github.com:jimhourihan/glsl-mode.git
[submodule "popup-el"]
	path = popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "auto-complete"]
	path = auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "emacs-live"]
	path = emacs-live
	url = git@github.com:overtone/emacs-live.git
[submodule "popwin-el"]
	path = popwin-el
	url = https://github.com/m2ym/popwin-el
